<h1><center>Phone Book</center></h1>
<hr />

<div class="left">

  <h3>Add a contact:</h3>
  <br />

  <form action="/contacts" method="post">

    <label for="name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Alice Adams">
    <br />
    <br />

    <button class="btn btn-success">&#9734; ~ Add</button>

  </form>
  <br/>

  <form action="/clear" method="post">
    <button type="submit" class="btn btn-danger">X ~ Clear</button>
  </form>
  <br />

</div>

<div class="right">
  <h3>Directory:</h3>
    <% if @contacts.any?() %>
    <ul>
    <% @contacts.each() do |contact| %>
      <li><a href="/contacts/<%= contact.id() %>"><%= contact.name() %></a></li>
    <% end %>
  </ul>
    <% else %>
    <strong><%= "There are no contacts." %></strong>
    <% end %>
</div>
