h1 {
  font-family: Times, Helvetica;
  color: #FF6600;
}

h2 {
  font-family: Times, Helvetica;
}

h3 {
  font-family: Times, Helvetica;
  color: #766C66;
}

li {
  font-family: Courier, Times, Helvetica;
}

strong {
  fong-family: Verdana, Helvetica;
  color: #CC0000;
}

.left {
  float: left;
  border: 3px solid #766C66;
  padding: 20px 20px 20px 20px;
  background-color: #FFFFEF;
}
.right {
  float: right;
  padding: 30px 30px 30px 30px;
}
